{% extends "basic_template.html" %}
{% block content %}
<main class="main-with-navbar">
    {% include 'navbar.html' %}
    <div>
        <section class="page-header">
            <h1>Мои команды</h1>
        </section>
        <section class="main-margin white-filled border-1r">
            {{ team.name }}
            {{ invite_link }}
        </section>
    </div>
</main>
<script>
    let item = document.querySelector('#aside-navbar-teams');
    item.classList.remove('white-filled-with-hover');
    item.classList.add('dark-filled');
</script>
{% endblock %}