:root {
  --color-primary: #0d6efd;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-success: #198754;
  --color-dark: #212529;
  --color-light: #e8e9ea;
  --color-white: #f8f9fa;
}

.danger-theme-light {
  border: 2px solid var(--color-danger);
  color: var(--color-dark) !important;
}

.warning-theme-light {
  border: 2px solid var(--color-warning);
  color: var(--custom-dark) !important;
}

.success-theme-light {
  border: 2px solid var(--color-success);
  color: var(--color-dark) !important;
}

.light-theme-light {
  border: 2px solid var(--color-light);
  color: var(--color-dark) !important;
}

.danger-theme-filled {
  background: var(--color-danger);
  color: var(--color-dark) !important;
}

.warning-theme-filled {
  background: var(--color-warning);
  color: var(--color-dark) !important;
}

.success-theme-filled {
  background: var(--color-success);
  color: var(--color-light) !important;
}

.primary-theme-filled {
  background: var(--color-primary);
  color: var(--color-light) !important;
}

.light-theme-filled {
  background: var(--color-light);
  color: var(--color-dark) !important;
}


.white-theme-filled {
  background: var(--color-white);
  color: var(--color-dark) !important;
}

.header-block {
  background: var(--color-primary);
}

.item-light {
  text-decoration: none;
  color: var(--color-dark) !important;
}

.item-light:hover {
  background: var(--color-light);
}

.item-dark {
  text-decoration: none;
  color: var(--color-light) !important;
}

.item-dark:hover {
  background: var(--color-dark);
}

.item-primary {
  background: var(--color-blue);
  text-decoration: none;
  color: var(--color-white) !important;
}

.item-primary:hover {
  background: #005eed;
  color: var(--color-dark);
}


.card-light {
  background: white;
  border: 1px solid var(--color-light);
  text-decoration: none;
  color: var(--color-dark) !important;
}