main {
  width: 100% !important;
}

img {
  pointer-events: none;
}

@media (min-width: 720px) {
  .greeting {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 15rem;
  }

  .greeting-image {
    grid-column: 1/2;
  }

  .greeting-text {
    display: flex;
    grid-column: 2/3;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 4rem;
  }
}