{% extends "basic_template.html" %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}">
{% endblock %}
{% block content %}
<section class="greeting">
    <div class="greeting-image">
        <img src="{{ url_for('static', filename='/img/LogoHorizontal.png') }}"
             alt="HTracker" style="pointer-events: none; width: 100%; aspect-ratio: 2/1;"/>
    </div>
    <p class="greeting-text display-5">HTracker - легкий сервис для отслеживания личных задач</p>

</section>
{% endblock %}