<aside class="aside-navbar">
        <a href="{{ url_for('auth.profile') }}" class="navbar-item" style="font-size: 1.1rem">
            <i class="bi bi-person-circle"></i>
            <div class="col-10">Profile</div>
        </a>
        <a href="{{ url_for('index') }}" class="navbar-item" style="font-size: 1.1rem">
            <i class="bi bi-house"></i>
            <div class="">Home</div>
        </a>
        <a href="{{ url_for('tasks.tasks_by_statuses') }}" class="navbar-item" style="font-size: 1.1rem">
            <i class="bi bi-list-task"></i>
            <div class="">Tasks</div>
        </a>
        <a href="{{ url_for('tasks.create_task') }}" class="navbar-item" style="font-size: 1.1rem">
            <i class="bi bi-plus-circle"></i>
            <div class="">Create task</div>
        </a>
</aside>