<aside class="aside-navbar white-filled">
    <nav>
        <a id="aside-navbar-profile" href="{{ url_for('auth.profile') }}" class="navbar-item item-light">
            <i class="bi bi-person-circle"></i>
            <div class="">Profile</div>
        </a>
        <a id="aside-navbar-home" href="{{ url_for('index') }}" class="navbar-item item-light">
            <i class="bi bi-house"></i>
            <div class="">Home</div>
        </a>
        <a id="aside-navbar-teams" href="{{ url_for('teams.user_teams') }}" class="navbar-item item-light">
            <i class="bi bi-people"></i>
            <div class="">Teams</div>
        </a>
        <a id="aside-navbar-tasks" href="{{ url_for('tasks.tasks_by_statuses') }}" class="navbar-item item-light">
            <i class="bi bi-list-task"></i>
            <div class="">Tasks</div>
        </a>
        <a id="aside-navbar-create" href="{{ url_for('tasks.create_task') }}" class="navbar-item item-light">
            <i class="bi bi-plus-circle"></i>
            <div class="">Create task</div>
        </a>
    </nav>
</aside>