{% extends "basic_template.html" %}

{% block content %}
<div class="navbar m-5 mx-auto w-75">
    <div class="container">
        <nav class="navbar">
            <a href="/tasks" class="btn btn-outline-secondary btn-lg me-4">Вернуться</a>
            <a href="/tasks/edit/{{ task.id }}" class="btn btn-primary btn-lg">Изменить</a>
        </nav>
    </div>
</div>
<div class="m-5 p-5 mx-auto w-75 bg-light">
    <h1 class="card-title py-2">{{ task.name }}</h1>
    <p class="card-body py-2">Создал: {{ current_user.name }}</p>
    <p class="card-body pt-5">{{ task.description }}</p>
</div>
{% endblock %}