{% extends "basic_template_with_navbar.html" %}

{% block title %}Task № {{ task.id }}{% endblock %}

{% block content %}

<section class="task-card white-filled border-1r">
    <h2 class="task-title">{{ task.name }}</h2>
    <h6 class="task-deadline">
        {% if task.deadline %}
        {{ task.deadline.strftime('%d.%m.%Y') }}
        {% else %}
        Без дедлайна
        {% endif %}
    </h6>
    <a href="/tasks/edit/{{ task.id }}" class="navbar-item light-filled d-inline">
        <i class="bi bi-pencil-square"></i>
    </a>
    <p class="task-description py-3" style="font-size: 1.1rem;">{{ task.description }}</p>
    <form action="" method="post" class="mb-3 w-75 needs-validation" novalidate>
        {{ form.csrf_token }}
        {{ form.new_status.label(class="d-block mb-2") }}
        <div class="d-inline-block align-text-top">
            {{ form.new_status(class="form-select", onChange="Selected(this)") }}<br>
            {% for error in form.new_status.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        <div class="d-inline-block align-text-top ms-2">
            {{ form.submit(type="submit", class="btn btn-primary", id="SubmitButton", style="display: none") }}
        </div>
        {% if save %}
        <div class="d-inline-block align-text-top ms-2">
            <button id="SaveLabel" type="button" class="btn btn-light" disabled>Сохранено</button>
        </div>
        {% endif %}
    </form>
    <p class="card-body py-2">Автор: {{ task.creator.name }}</p>
    <div>
        <button id="button-start" class="timer-button light-filled light-filled-on-hover">
            <i class="bi bi-play-fill"></i>
        </button>
        <button id="button-run" class="timer-button light-filled light-filled-on-hover">
            <i class="bi bi-play-fill"></i>
        </button>
        <button id="button-stop" class="timer-button light-filled light-filled-on-hover">
            <i class="bi bi-stop-fill"></i>
        </button>
        <button id="button-pause" class="timer-button light-filled light-filled-on-hover">
            <i class="bi bi-pause"></i>
        </button>
    </div>
    <a href="/tasks/delete/{{ task.id }}" class="btn btn-outline-danger btn-lg">Удалить</a>
</section>

<script>
    let item = document.querySelector('#aside-navbar-tasks');
    item.classList.remove('white-filled-with-hover');
    item.classList.add('dark-filled');
</script>
<script>
    function Selected(a) {
	    var label = a.value;
        if (label=={{ form.new_status.data }}) {
	    	document.getElementById("SubmitButton").style.display='none';
	    	document.getElementById("SaveLabel").style.display='none';
	    } else {
	    	document.getElementById("SubmitButton").style.display='block';
	    	document.getElementById("SaveLabel").style.display='none';
	    }
    }
</script>
<script>
    function start() {
        fetch('../../api/timers/create/{{ task.id }}');
    }
    function pause() {
        fetch('../../api/timers/pause');
    }
    function run() {
        fetch('../../api/timers/continue');
    }
    function stop() {
        fetch('../../api/timers/terminate');
    }
    document.getElementById('button-start').onclick = start;
    document.getElementById('button-run').onclick = run;
    document.getElementById('button-stop').onclick = stop;
    document.getElementById('button-pause').onclick = pause;
</script>
{% endblock %}