{% extends "basic_template.html" %}
{% block content %}
<main class="main-with-navbar">
    {% include 'navbar.html' %}
    <div>
        <div class="navbar w-75 ms-5 mt-5">
            <div class="container">
                <nav class="navbar">
                    <h1 class="me-5">Мои задачи</h1>
                    <a href="{{ url_for('tasks.create_task') }}"
                       class="btn btn-primary primary-filled btn-lg">Добавить</a>
                </nav>
            </div>
        </div>
        {% if current_user.is_authenticated %}
        <div class="row w-75 ms-5 p-4">
            {% for status in statuses %}
            <div class="col m-3 p-0" style="min-width: 16rem; max-width: 24rem;">
                <h3 class="px-3 py-3 {{ status.color_tag }}-filled border-05r">{{ status.name }}</h3>
                <div class="py-2 white-filled  border-05r">
                    {% for task in tasks_by_statuses[status.id] %}
                    <a href="/tasks/{{ task.id }}"
                       class="custom-card card-light my-3 mx-auto p-0 text-decoration-none text-dark text-start">
                        <div class="card-title h5 ms-3 mt-2">{{ task.name }}</div>
                        <p class="mx-3 mt-1 h-50 max-three-lines" style="font-size: 1rem;">{{ task.description }}</p>
                        <div class="h6 ms-3 mt-1 text-secondary">
                            {% if task.deadline %}
                            {{ task.created_date.strftime('%d.%m.%Y') }}
                            {% else %}
                            Без дедлайна
                            {% endif %}
                        </div>
                    </a>
                    {% endfor %}
                </div>
                {% if status.id == 0 %}
                <a href="{{ url_for('tasks.create_task') }}?status={{ status.id }}"
                   class="bg-light my-3 px-auto py-3 text-decoration-none text-center text-dark"
                   style="display: block">
                    <div class="me-2 d-inline">Create task</div>
                    <i class="bi bi-plus-circle"></i>
                </a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</main>
<script>
    let item = document.querySelector('#aside-navbar-tasks');
    item.classList.remove('item-light');
    item.classList.add('item-dark');
</script>
{% endblock %}