{% extends "basic_template.html" %}

{% block content %}
<div class="navbar w-75 mx-auto mt-5">
    <div class="container">
        <nav class="navbar">
            <h1 class="me-5">Мои задачи</h1>
            <a href="/tasks/create" class="btn btn-primary btn-lg">Добавить</a>
        </nav>
    </div>
</div>
{% if current_user.is_authenticated %}
<div class="row row-cols-1 row-cols-md-5 g-4 m-5 mx-auto w-75 bg-light">
    {% for task in data %}
    <div class="col">
        <a href="/tasks/{{ task.id }}"
           class="card text-decoration-none mb-3 {{ 'btn-outline-light' if task.status == 0 else 'btn-outline-warning' if task.status == 1 else 'btn-outline-success' }} btn text-start p-0"
           style="max-width: 18rem;">
            <h5 class="card-title card-header">{{ task.name }}</h5>
            <div class="card-body">
                <h6 class="card-text">{{ task.created_date.strftime('%Y-%m-%d') }}</h6>
                <p class="card-text">{{ task.description }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}